@import "globals.scss";
.section-about-us {
    min-height: 90vh;
    width: 100%;
    background: url(../public/background-images/about-us.png);
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .flex-container {
        width: 100%;
    }
    .main-content {
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 3rem 0;
        h1 {
            font-family: "Arvo", serif;
            font-style: normal;
            font-weight: bolder;
            font-size: 32px;
            line-height: 40px;
            color: $yellow;
            max-width: 18rem;
            text-align: center;
            margin: auto;
        }
        p {
            font-family: "Alegreya Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: $white;
            margin: 2rem 0;
        }
        img {
            border-radius: 20px;
        }
    }
}

@media screen and (min-width: 400px) {
    .section-about-us {
        .main-content {
            width: 100%;
            p {
                margin: auto;
                font-size: 1.5rem;
            }
            h1 {
                font-size: 3rem;
                margin-bottom: 3rem;
            }
        }
        .flex-container {
            width: auto;
            margin-top: 3rem;
            padding: 0 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-direction: row;
            p {
                text-align: start;
                padding: 0 3rem;
            }
            .img-wrapper {
                width: 100%;
            }
        }
        .flex-container:nth-child(even) {
            flex-direction: row-reverse;
            .img-wrapper {
                justify-content: end;
            }
        }
        .flex-container p {
            text-align: center;
        }
    }
}