@import "globals.scss";
.section-footer {
    background: $red;
    height: 10rem;
    border-top: 2px solid $yellow;
    width: 100%;
    .logo-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
    }
    p {
        font-family: 'Alegreya Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        color: $yellow;
        &:hover {
            cursor: pointer;
        }
    }
    .license {
        text-align: center;
        font-size: 16px;
        &:hover {
            cursor: default;
        }
    }
    .left {
        text-align: right;
    }
    .right {
        text-align: left;
    }
    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 8rem;
        margin: auto;
    }
}