$yellow: #fff59e;
$transparent-yellow: #fff59e46;
$red: #810000;
$white:#ffffff;
.main-container {
    width: 100vw;
}

.normal {
    height: 8rem;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    z-index: 2;
    top: -8rem;
    transition: top 0.6s;
    &.blur {
        top: 0;
    }
}