$yellow: #fff59e;
$darkYellow: #dbc602;
$transparent-yellow: #fff59e46;
$red: #810000;
$white: #ffffff;
$lightRed: #c96363;
$black: rgba(0, 0, 0, 0.322);
.main-container {
    width: 100vw;
}

.top-spacer {
    height: 8rem
}