$yellow: #fff59e;
$darkYellow: #dbc602;
$transparent-yellow: #fff59e46;
$red: #810000;
$white: #ffffff;
$lightRed: #c96363;
$black: rgba(0, 0, 0, 0.322);
.main-container {
    width: 100vw;
    padding: 2rem;
}

.top-spacer {
    height: 4rem
}

.page-title {
    font-family: "Arvo";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: $white;
    margin: 0 0 0 1rem
}

.page-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem
}

.card {
    width: fit-content;
    margin: 6rem auto;
}

// Desktop
@media screen and (min-width: 1080px) {
    .card {
        width: 25rem;
        margin: 8rem auto 5rem auto;
    }
    .page-title {
        font-size: 2rem
    }
}

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&wght500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');