.sectionLanding {
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    background: url(../public/background-images/landing.jpg);
    mix-blend-mode: multiply;
    background-size: cover;
    z-index: -1;
}

.overlayLanding {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: -2;
    left: 0;
    top: 0;
}