@import "globals.scss";
.section-landing {
    height: 100vh;
    width: 100%;
    left: 0px;
    top: 0px;
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/background-images/landing.jpg");
    .bg-img {
        z-index: -1;
    }
    h1 {
        font-family: "Arvo", serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 1.8rem;
        line-height: 40px;
        color: $white;
        margin-top: 3rem;
        width: 18rem;
        margin-bottom: 3rem;
        padding-left: 2rem;
    }
    h2 {
        font-family: "Andika New Basic";
        font-style: normal;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 35px;
        color: $white;
        margin: 0;
    }
    h3 {
        font-family: "Arvo";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $white;
    }
    button {
        background-color: transparent;
        font-family: "Arvo";
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        color: $yellow;
        border: 2px solid $yellow;
        padding: 0.8rem 1rem;
        width: 11.5rem;
        margin-bottom: 3rem;
        z-index: 1;
        &:hover {
            background-color: $transparent-yellow;
        }
        cursor: pointer;
    }
    .businessInfo {
        margin-bottom: 8rem;
    }
    .downChevrons {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        position: relative;
        bottom: 3rem;
        @keyframes move-down {
            from {
                bottom: 4rem;
            }
            to {
                bottom: 3.7rem;
            }
        }
        animation-name: move-down;
        animation-duration: 0.4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        cursor: pointer;
    }
    .buttons-wrapper {
        display: flex;
        flex-direction: column;
    }
    @media only screen and (min-width: 400px) {
        h1 {
            width: 36rem;
            margin-bottom: 10rem;
            padding-left: 0;
            font-size: 4rem;
            line-height: 65px;
        }
        .buttons-wrapper {
            flex-direction: row;
        }
        button {
            margin: 0 1rem 3rem 1rem;
            font-size: 1.7rem;
            width: 17rem;
            padding: 1.5rem;
        }
        .businessInfo {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .accountRequired {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 400px) {
    .section-landing {
        min-height: 1000px;
        h1 {
            margin-top: 0;
        }
    }
}