@import "globals.scss";
.sectionLanding {
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    background: url(../public/background-images/landing.jpg);
    mix-blend-mode: multiply;
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-family: "Arvo", serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 32px;
        line-height: 40px;
        color: $white;
        margin-top: 3rem;
        max-width: 18rem;
        margin-bottom: 3rem;
    }
    h2 {
        font-family: "Andika New Basic";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        color: $white;
        margin: 0;
    }
    h3 {
        font-family: "Arvo";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $white;
    }
    button {
        background-color: transparent;
        font-family: "Arvo";
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        color: $yellow;
        border: 2px solid $yellow;
        padding: 0.8rem 1rem;
        width: 11.5rem;
        margin-bottom: 3rem;
        z-index: 99;
        &:hover {
            background-color: $transparent-yellow;
        }
        cursor: pointer;
    }
    .businessInfo {
        margin-bottom: 2rem;
    }
    .downChevrons {
        position: absolute;
        bottom: 5rem;
        @keyframes move-down {
            from {
                bottom: 5rem;
            }
            to {
                bottom: 4.7rem;
            }
        }
        animation-name: move-down;
        animation-duration: 0.4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        cursor: pointer;
    }
}