@import "globals.scss";
.sectionLanding {
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    background: url(../public/background-images/landing.jpg);
    mix-blend-mode: multiply;
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-family: "Arvo", serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 32px;
        line-height: 40px;
        color: #ffffff;
        margin-top: 3rem;
        max-width: 18rem;
        margin-bottom: 3rem;
    }
    button {
        background-color: transparent;
        font-family: "Arvo";
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        color: $yellow;
        border: 2px solid $yellow;
        padding: 0.8rem 1rem;
        width: 11.5rem;
        margin-bottom: 3rem;
    }
}