@import "globals.scss";
.item-container {
    background-color: $white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    padding: 1rem;
    justify-content: center;
    text-align: right;
    width: 16rem
}

.h1 {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: $red;
    margin: 0;
}

.h2 {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $red;
}

.p {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $red;
}

.top {
    display: flex;
    flex-direction: row;
}

.details {
    width: 50%;
    padding: 1rem 0.5rem;
    text-align: right;
}

@media screen and (min-width:1080px) {
    .item-container {
        height: 12rem;
        width: 19rem;
    }
}