@import "globals.scss";
.h1 {
    font-family: "Arvo";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: $red;
    margin: 0 0 0.3rem 1rem;
}

.section-menu {
    height: 100vh;
    width: 100%;
    top: 0px;
    right: -100vw;
    background: url(../public/background-images/menu.png);
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    transition: right 0.6s;
    z-index: 2;
    opacity: 1;
}

.slide-in {
    right: 0;
}

.menu-content {
    margin: auto;
    width: 60%
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 4rem;
}

.left-chevrons {
    position: absolute;
    @keyframes move-down {
        from {
            left: 6.4rem;
        }
        to {
            left: 6.1rem;
        }
    }
    animation-name: move-down;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.nav-link {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: $red;
}

.br {
    background-color: $red;
    height: 3px;
    margin: auto;
}