.navbar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: right;
    align-items: center;
    position: fixed;
    height: 2rem;
    left: 0;
    right: 0;
    padding: 3rem 2rem;
    z-index: 1;
}

.logo {
    grid-column: 2 / 3;
}

.hamburger {
    grid-column: 4 / 5;
    margin-top: 0.5rem;
}