@import "globals.scss";
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: right;
    align-items: center;
    position: fixed;
    height: 1rem;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    z-index: 2;
}

.logo {
    grid-column: 2 / 3;
}

.menu-links {
    display: none;
}

@media only screen and (min-width: 400px) {
    .logo {
        grid-column: 1 / 2;
    }
}

.hamburger {
    grid-column: 4 / 5;
    margin-top: 0.5rem;
}

@media screen and (min-width: 1080px) {
    .navbar {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        position: absolute;
        .logo {
            grid-column: 1 / 2;
        }
        .hamburger {
            display: none;
        }
        .navbar {
            position: absolute;
            background-color: transparent;
        }
        .menu-links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-content: center;
            grid-column: 3 / 5;
            color: $white;
            width: 100%;
            font-family: "Alegreya Sans";
            font-style: normal;
            font-weight: 400;
            li {
                list-style: none;
                margin: 0;
                cursor: pointer;
                &:hover {
                    color: $yellow;
                }
            }
        }
        .auth-links {
            grid-column: 5 / 6;
            color: $yellow;
            justify-content: flex-end;
            align-items: center;
            li {
                margin: 0 1rem;
                &:hover {
                    color: $white
                }
            }
            .sign-up {
                background-color: $red;
                padding: 0.5rem;
                border-radius: 2px;
                &:hover {
                    background-color: $lightRed;
                }
            }
        }
    }
}