@import "globals.scss";
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    height: 5rem;
}

.grid-item {
    text-align: center;
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $red;
    border-radius: 5px;
    padding: 0 0.5rem;
    border-radius: 50%;
    width: 1.5rem;
}

.symbol {
    font-weight: 800;
    cursor: pointer;
    color: $red;
    background: $yellow;
    background: linear-gradient(270deg, rgba(229, 235, 25, 0.6222689759497548) 4%, rgba(255, 171, 0, 1) 100%);
    border: none;
    box-shadow: 1px 1px 1px grey;
    &:hover {
        background-color: $lightRed;
    }
}