@import "globals.scss";
.container {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.quantity {
    background-color: $red;
    border-radius: 50%;
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-info {
    margin-left: 1rem;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}