@import "globals.scss";
.container {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
}

.detail {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0.5rem 0.3rem;
    display: flex;
    align-items: center;
}

.bold {
    font-weight: 700;
}

@media screen and (min-width:1080px) {
    .detail {
        margin: 0.5rem 2rem;
    }
}